h1 {
    color: pink;
    display: flex;
	align-items: center;
	justify-content: center;
}



table {
	color: black;
	border: 10px solid pink;
	margin-left:auto; 
    margin-right:auto;
}

th {
	border: 1px solid black;
}

td {
	text-align: center;
	border: 1px solid black;
}

